.markdown-body {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	line-height: 1.5;
	color: #24292e;
	font-family: Fira Code, '等距更纱黑体 Slab SC', -apple-system, BlinkMacSystemFont, Segoe UI,
		Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
	font-size: 16px;
	line-height: 1.5;
	word-wrap: break-word;
}

.markdown-body details summary {
	cursor: pointer;
}
.markdown-body details {
	display: block;
}
.markdown-body summary {
	display: list-item;
}

.markdown-body a {
	background-color: initial;
}

.markdown-body a:active,
.markdown-body a:hover {
	outline-width: 0;
}

.markdown-body strong {
	font-weight: 600;
}

.markdown-body code,
.markdown-body kbd,
.markdown-body pre {
	font-size: 0.96em;
	padding: 0.2em 0.4em;
	margin: 0;
	border-radius: 3px;
	font-family: var(--b3-font-family-code), monospace, monospace;
}
.markdown-body code {
	background-color: var(--b3-protyle-code-background);
}

.markdown-body input {
	font: inherit;
	margin: 0;
	overflow: visible;
}

.markdown-body [type='checkbox'] {
	box-sizing: border-box;
	padding: 0;
}

.markdown-body * {
	box-sizing: border-box;
}

.markdown-body input {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

.markdown-body a {
	color: #0366d6;
	text-decoration: none;
}

.markdown-body a:hover {
	text-decoration: underline;
}

.markdown-body hr {
	box-sizing: initial;
	height: 0;
	margin: 15px 0;
	overflow: hidden;
	background: transparent;
	border: 0;
	border-bottom: 1px solid #dfe2e5;
}

.markdown-body hr:after,
.markdown-body hr:before {
	display: table;
	content: '';
}

.markdown-body hr:after {
	clear: both;
}

.markdown-body table {
	border-spacing: 0;
	border-collapse: collapse;
	border-radius: 3px;
}

.markdown-body td,
.markdown-body th {
	padding: 0;
}

.markdown-body kbd {
	display: inline-block;
	padding: 3px 5px;
	font: 11px SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
	line-height: 10px;
	color: #444d56;
	vertical-align: middle;
	background-color: #fafbfc;
	border: 1px solid #d1d5da;
	border-radius: 3px;
	box-shadow: inset 0 -1px 0 #d1d5da;
}

.markdown-body ol,
.markdown-body ul,
.markdown-body li {
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 0;
	--offset: 2.35rem;
}
.markdown-body ol,
.markdown-body ul {
  /* 将图标导致的左侧突出补回来 */
	margin-left: 14px;
}

/* 列表的层次偏移 */
.markdown-body ol ol,
.markdown-body ol ul,
.markdown-body ul ol,
.markdown-body ul ul {
	position: relative;
	margin-left: 0px;
}
.markdown-body li {
	position: relative;
	margin-left: 1rem;
}
.markdown-body ol ol::before,
.markdown-body ol ul::before,
.markdown-body ul ol::before,
.markdown-body ul ul::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 1px;
	border-left: 1px solid var(--b3-border-color);
	margin-left: -1rem;
}
li.protyle-task {
	list-style: none;
}
.protyle-task > input {
	width: 0;
	position: absolute;
}
li.protyle-task input::before {
	position: absolute;
	content: '';
	margin-left: calc((-1) * var(--offset) + 0.95rem);
	width: 14px;
	height: 14px;
	margin-top: 4px;
	background-size: 100%;
	background-image: url('../icon/input_checkbox.png');
}
li.protyle-task input:checked::before {
	background-image: url('../icon/input_checkbox-checked.png');
}
.markdown-body dd {
	margin-left: 0;
}
.markdown-body input::-webkit-inner-spin-button,
.markdown-body input::-webkit-outer-spin-button {
	margin: 0;
	-webkit-appearance: none;
	appearance: none;
}

.markdown-body hr {
	border-bottom-color: #eee;
}

.markdown-body > :first-child {
	margin-top: 0 !important;
}

.markdown-body > :last-child {
	margin-bottom: 0 !important;
}

.markdown-body a:not([href]) {
	color: inherit;
	text-decoration: none;
}

.markdown-body blockquote,
.markdown-body details,
.markdown-body dl,
.markdown-body ol,
.markdown-body pre,
.markdown-body table,
.markdown-body ul {
	margin-top: 0;
	margin-bottom: 16px;
}

.markdown-body hr {
	height: 0.25em;
	padding: 0;
	margin: 24px 0;
	background-color: #e1e4e8;
	border: 0;
}

.markdown-body blockquote {
	color: #6a737d;
	border-left: 0.25em solid #dfe2e5;
}

.markdown-body blockquote > :first-child {
	margin-top: 0;
}

.markdown-body blockquote > :last-child {
	margin-bottom: 0;
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
	margin-top: 24px;
	margin-bottom: 16px;
	font-weight: 600;
	line-height: 1.25;
}

.markdown-body h1,
.markdown-body h2 {
	padding-bottom: 0.3em;
	border-bottom: 1px solid var(--b3-border-color);
}

.markdown-body h2 {
	font-size: 1.5em;
}

.markdown-body h3 {
	font-size: 1.25em;
}

.markdown-body h4 {
	font-size: 1em;
}

.markdown-body h5 {
	font-size: 0.875em;
}

.markdown-body h6 {
	font-size: 0.85em;
	color: #6a737d;
}
.markdown-body dl {
	padding: 0;
}

.markdown-body dl dt {
	padding: 0;
	margin-top: 16px;
	font-size: 1em;
	font-style: italic;
	font-weight: 600;
}

.markdown-body dl dd {
	padding: 0 16px;
	margin-bottom: 16px;
}

.markdown-body table {
	display: block;
	width: 100%;
	overflow: auto;
}

.markdown-body table th {
	font-weight: 600;
	background-color: var(--b3-theme-surface);
}

.markdown-body table td,
.markdown-body table th {
	padding: 6px 10px;
	border: 1px solid var(--b3-border-color);
}

.markdown-body table tr:nth-child(2n) {
	background-color: var(--b3-theme-surface);
}

.markdown-body img {
	border-style: none;
	max-width: 100%;
	box-sizing: initial;
	background-color: #fff;
}

.markdown-body .img {
	text-align: center;
	/* 这里赋值block的话起到居中效果 */
	display: inline-block;
}
/** ---------- 以下是 样式扩展 -------------- */

.markdown-body {
	box-sizing: border-box;
	min-width: 200px;
	max-width: 980px;
	margin: 0 auto;
	padding: 45px;
}

@media (max-width: 767px) {
	.markdown-body {
		padding: 15px;
	}
}

/** 块引用文本类型 */
.markdown-body [data-block-type='NodeBlockRefText'] {
	color: var(--b3-vditor-mark-block-color);
}

/** 被 hash 指定要跳转到的元素 */
.hash_selected {
}
/** 给 hash 指定要跳转到的元素提供选中高亮效果 */
.hash_selected-highlight {
	border-radius: 4px;
	transition: all 0.15s cubic-bezier(0, 0, 0.2, 1) 0ms;
	background-color: var(--b3-theme-primary-light);
	box-shadow: 4px 0px 0 var(--b3-theme-primary-light), -4px 0px 0 var(--b3-theme-primary-light);
}

/** 嵌入块的样式 */
.embedded_block {
	display: block;
	border: 1px solid var(--b3-border-color);
	border-radius: 4px;
	margin-bottom: 8px;
	user-modify: read-only;
	box-sizing: border-box;
	white-space: initial;
}
.embedded_block-header {
	border-bottom: 1px solid var(--b3-border-color);
	padding: 8px 16px;
	background-color: var(--b3-theme-surface);
	display: flex;
	align-items: center;
}
.embedded_block-content {
	padding: 8px 16px;
}

.language-echarts,
.language-mindmap {
	overflow: hidden;
	height: 420px;
}

/** code 复制按钮的呈现 */
pre:hover .vditor-copy {
	display: block;
}
[data-type='NodeParagraph'] {
	padding: 4px;
	margin: 4px 0;
}

/* fix 可选框 列表的换行问题 */
[data-type='NodeListItem'] > [data-type='NodeParagraph'] {
	display: contents;
}
/* 超级块 横排效果 */
[data-type='NodeSuperBlock'][data-sb-layout='col'] {
	display: flex;
}
[data-type='NodeSuperBlock'][data-sb-layout='col'] > * {
	flex: 1;
}

/* 将这些块设定高度，用来显示嵌入的图表之类的东西 */
[data-subtype='mindmap'],
[data-subtype='echarts'] {
	overflow: hidden;
	height: 420px;
}
/* 标题块后面的链接图标显示控制 */
.vditor-anchor img {
	visibility: hidden;
}
.vditor-anchor:hover img {
	visibility: visible;
}
/* 对于 \n 这样的换行显示出换行效果 */
p[data-n-id] {
	white-space: pre-wrap;
}
/* 例如图片的描述 title 的样式设置 */
.protyle-action__title {
	display: block;
	font-size: 85%;
	color: var(--b3-theme-on-surface);
}

[data-type='NodeBlockquote'] {
	padding: 4px;
	color: var(--b3-theme-on-surface);
	border-left: 0.25em solid var(--b3-border-color);
	background-color: var(--b3-list-hover);
	margin: 4px 0;
}
