{{define "head"}}

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ .PageTitle }}</title>
    <!-- vditor 编辑器 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vditor/dist/index.css" />
    <!-- <script src="https://cdn.jsdelivr.net/npm/vditor/dist/index.min.js"></script> -->

    <!-- front-end-lib 生成的资源 star -->

    <!-- 正式发布时应该访问的地址,all_components.js 表示加载全部的 web components 组件，你也可以选择性的加载其中一些组件或者替换为你自己的实现  -->
    <script src="{{.LevelRoot}}assets/front-end-lib/all_components.js"></script>
    <!-- 开发调试 -->
        <!-- <script src="http://localhost:5000/build/app.js"></script> -->
        <!-- <script src="{{.LevelRoot}}../src/views/assets/front-end-lib/all_components.js"></script> -->
        <!-- <link rel="stylesheet" href="{{.LevelRoot}}../src/views/assets/js_css/github-markdown-css.css"> -->


    <!-- front-end-lib 生成的资源 end -->

    <link rel="stylesheet" href="{{.LevelRoot}}assets/js_css/theme.css">
    <link rel="stylesheet" href="{{.LevelRoot}}assets/js_css/github-markdown-css.css">
</head>

{{end}}