{{define "head"}}

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ .PageTitle }}</title>
    <link rel="stylesheet" href="{{.LevelRoot}}assets/github-markdown-css.css">

    <!-- vditor 编辑器 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vditor/dist/index.css" />
    <script src="https://cdn.jsdelivr.net/npm/vditor/dist/index.min.js" defer></script>

    <!-- font-end-lib 生成的资源 star -->

<script  src="{{.LevelRoot}}assets/font-end-lib/index.8bb63b02.js"></script>

<!-- font-end-lib 生成的资源 end -->
</head>

{{end}}