{{ define "rss" }}
<?xml version="1.0" encoding="utf8" ?>
    <rss version="2.0" xmlns:content="http://purl.org/rss/1.0/modules/content/" xmlns:wfw="http://wellformedweb.org/CommentAPI/" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:atom="http://www.w3.org/2005/Atom" xmlns:sy="http://purl.org/rss/1.0/modules/syndication/" xmlns:slash="http://purl.org/rss/1.0/modules/slash/">
    <channel>
    <title>崮生的笔记</title>
    <link>https://shenzilong.cn</link>
    <description>崮生的笔记</description>

    <item>
        <title>${el.basename}</title>
        <link>${siteBaseUrl}${el.webPath}</link>
        <published>${}</published>

        <updated>${new Date(el.mtimeMs).toISOString()}</updated>
        <description> 崮生 </description>
        <content:encoded xml:base="${siteBaseUrl}${el.webPath}">
            <![CDATA[
            ${(await el.getViewInfo()).html}
            ]]>
        </content:encoded>
    </item>

    </channel>
</rss>
{{ end }}
